@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:300,400&display=swap&subset=latin-ext');

/* font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}


.baner {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}


header {
    position: relative;
    height: 100vh;

    bottom: 0;
    right: 0;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;


}

header>* {
    position: absolute;
}

header img {

    height: 50%;
    bottom: 0;
    right: 0;

}



header div.welcome {
    z-index: 1;
    top: 8%;
    left: 5%;
    right: 5%;

    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;


}



header h1 {

    font-size: 30px;
    margin-top: 15px;


}

header h2 {
    font-size: 30px;

    font-weight: normal;
}

header button {
    text-decoration: none;
    display: block;
    line-height: 37px;
    padding: 0 20px;
    margin: 20px auto;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid white;
}

@media (min-width:480px) and (orientation:landscape) {
    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 24px;
    }

    header button {
        margin-top: 24px;
        font-size: 16px;
        line-height: 40px;

    }
}

@media (min-width:600px) {
    header h1 {
        font-size: 36px;
    }

    header h2 {
        font-size: 26px;
    }

    header p {
        font-size: 40px;
    }

    header button {
        margin-top: 40px;
        font-size: 20px;
        line-height: 50px;

    }

    header img {
        right: -17%;
    }

}

@media (min-width:768px) {
    header p {
        font-size: 80px;
    }

    header h1 {
        font-size: 32px;
    }

    header h2 {
        font-size: 32px;
    }

    header button {
        margin-top: 60px;
        font-size: 30px;
        line-height: 60px;

    }

    header img {
        right: -17%;
    }

}

@media(orientation:landscape) and (min-width: 800px) {
    header img {
        height: 90%;
        bottom: 0;
        right: 0%;
    }

    header h1 {
        font-size: 22px;
    }

    header h2 {
        font-size: 22px;
    }

    header div.welcome {
        left: 7%;
        right: 50%;
        top: 15%;
        text-align: center;

    }

    header button {
        margin-top: 10px;

        font-size: 16px;
        line-height: 30px;
    }

}

@media (orientation: landscape) and (min-width: 1024px) {
    header button {
        display: inline-block;
        margin-top: 80px;
        font-size: 30px;
        line-height: 70px;
        position: relative;

        overflow: hidden;

    }

    header button::after {
        content: 'Moje Repozytorium Github';
        position: absolute;
        color: #4A00E0;
        font-size: 30px;
        font-family: 'Saira Condensed', sans-serif;

        font-weight: bold;
        text-align: center;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 600px;
        background-color: white;
        transition: .3s linear;


    }

    header button:hover::after {
        left: 0%;


    }

    header img {
        right: -22%;
        height: 92%;
    }

    header h1 {
        font-size: 34px;
    }

    header h2 {
        font-size: 34px;
    }

    header button {
        margin-top: 30px;
        font-size: 24px;
        line-height: 40px;

    }
}


@media (orientation: landscape) and (min-width: 1280px) {
    header p {
        font-size: 66px;
    }

    header h1 {
        font-size: 44px;
        margin-top: 40px;
    }


    header h2 {
        font-size: 44px;
    }




    header img {
        right: -22%;
        height: 92%;
    }


}



@media (orientation: landscape) and (min-width: 1440px) {
    header div.welcome {
        text-align: center;
    }

    header p {
        font-size: 100px;
    }

    header h1 {
        font-size: 70px;
        margin-top: 30px;
    }

    header h2 {
        font-size: 60px;
    }

    header button {
        margin-top: 50px;
        font-size: 35px;
        line-height: 60px;
        padding: 0 40px;


    }

    header img {
        right: -20%;
        opacity: 0;
        height: 95%;
        animation: anim 3s linear both;
    }

    @keyframes anim {
        0% {}

        50% {
            opacity: 0.5;
            right: -15%;
        }

        100% {
            opacity: 1;
            right: -10%;

        }
    }
}





footer {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    color: white;
    font-family: 'Saira', sans-serif;
    text-align: center;
    padding: 20px;




}

/* sekcja o mnie */
.about_me {
    max-width: 1920px;
    margin-top: 50px;
    overflow: hidden;
    padding: 5% 0 5%;
    text-align: center;
}

.about_me .sentence {
    text-align: center;
    margin: 0 auto;


}

.about_me h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about_me h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 23px;
    text-transform: uppercase;
}

.about_me .sentence p {
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 20px 5%;
    text-align: left;

}

.about_me img {
    width: 100%;
    margin: 30px auto 5px;

}


@media (min-width:360px) {
    .about_me .sentence p {
        font-size: 14px;
    }


    .about_me h1 {
        font-size: 28px;
    }

    .about_me h2 {
        font-size: 24px;
    }

    .about_me img {
        width: 85%;
    }
}

@media (min-width:480px) and (orientation:landscape) {
    .about_me img {
        width: 60%;
        margin: 30px auto 5px;

    }

}

@media (min-width:600px) {

    .about_me {
        margin-top: 20px;
    }

    .about_me .sentence p {
        font-size: 17px;
    }

    .about_me h1 {
        font-size: 40px;
    }

    .about_me h2 {
        font-size: 23px;
    }

    .about_me img {
        width: 45%;
    }
}

@media (min-width:768px) {
    .about_me .sentence p {
        font-size: 20px;
    }

    .about_me h1 {
        font-size: 28px;
    }

    .about_me h2 {
        font-size: 24px;
    }

    .about_me img {
        width: 50%;
    }
}

@media(orientation:landscape) and (min-width: 800px) {
    .about_me h1 {
        font-size: 45px;
    }

    .sentence {
        float: left;
        width: 50%;
        padding: 2%;
        text-align: justify;
        text-align: center;


    }

    .sentence:last-of-type {
        margin-left: 25vw;
    }
}


@media (orientation: landscape) and (min-width:1024px) {
    .sentence {
        float: left;
        width: 32%;
        padding: 2%;
        text-align: justify;
        text-align: center;


    }

    .sentence:last-of-type {
        margin-left: 0;
    }

    .about_me .sentence p {
        font-size: 20px;
    }

    .about_me h1 {
        font-size: 36px;
    }

    .about_me h2 {
        font-size: 28px;
    }

    .about_me img {
        width: 100%;
        margin-bottom: 40px
    }


}

@media (orientation: landscape) and (min-width: 1280px) {

    .about_me h1 {
        font-size: 35px;
    }





    .sentence {

        opacity: 0;
        transition: 1s 1s;


    }

    .sentence.active {

        opacity: 1;


    }
}

@media (orientation: landscape) and (min-width: 1440px) {
    .sentence {

        width: 32%;
        padding: 2%;
        text-align: justify;
        margin: 0 10px;
    }



    .about_me p {
        font-size: 21px;
    }

    .about_me {
        margin: 0 auto;
    }

    .about_me h1 {
        font-size: 60px;
    }

    .about_me h2 {
        font-size: 36px;
    }


}

/* sekcja o w przyszłosći */
.futures {
    margin: 50px auto 50px;
    overflow: hidden;
    padding: 5%;
    text-align: center;
}

.future {
    margin-top: 70px;
}

.futures h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.futures h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 23px;
    text-transform: uppercase;
}

.futures p {
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    margin: 20px 0;

}

.futures img {
    width: 60%;
    margin: 5px 0;

}


@media (min-width:480px) and (orientation:landscape) {
    .futures p {
        font-size: 14px;
    }

    .futures h1 {
        font-size: 28px;
    }

    .futures h2 {
        font-size: 24px;
    }

    .futures img {
        width: 30%;
    }
}

@media (min-width:600px) {
    .futures p {
        font-size: 17px;
    }

    .futures h1 {
        font-size: 40px;
    }

    .futures h2 {
        font-size: 24px;
    }

    .futures img {
        width: 30%;
    }
}

@media (min-width:768px) {
    .futures p {
        font-size: 20px;
    }

    .futures h1 {
        font-size: 28px;
    }

    .futures h2 {
        font-size: 24px;
    }

    .futures img {
        width: 50%;
    }
}

@media(orientation:landscape) and (min-width: 800px) {
    .future {
        float: left;
        width: 50%;
        padding: 2%;

        text-align: center;


    }

    .futures p {
        font-size: 20px;
    }

    .futures h1 {
        font-size: 28px;
    }

    .futures h2 {
        font-size: 24px;
    }

    .futures img {
        width: 70%;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .future {
        float: left;
        width: 32%;
        padding: 2%;
        text-align: justify;
        text-align: center;


    }

    .futures img {
        margin: 5px auto;
    }

    .futures p {
        font-size: 18px;
    }

    .futures h1 {
        font-size: 36px;
    }

    .futures h2 {
        font-size: 28px;
    }



}

@media (orientation: landscape) and (min-width: 1280px) {}

@media (orientation: landscape) and (min-width: 1440px) {
    .future {

        width: 32%;
        padding: 2%;
        text-align: center;


    }

    .futures p {
        font-size: 25px;
    }

    .futures {
        margin: 0 auto;
    }

    .futures h1 {
        font-size: 60px;
    }

    .futures h2 {
        font-size: 36px;
    }


}

/* sekcja portfolio */

.portfolio {
    background-color: rgb(56, 54, 54);
    padding: 30px 0 200px;
    width: 100%;
    overflow: hidden;
}

.portfolio .web {
    text-align: center;
}

.portfolio h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px 20px;
}




.portfolio .about {
    color: white;
    font-weight: normal;
    font-family: 'Saira', sans-serif;
    padding: 10px 20px 50px 0;
    text-align: left;
}

.portfolio .about h2 {
    font-size: 23px;
    border-bottom: 2px solid white;
    letter-spacing: 2px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    text-indent: 20px;
}

.portfolio .about p {
    padding-top: 20px;
    font-size: 15px;
    padding-left: 20px;
}

.portfolio .about .progress {
    text-align: center;
    font-size: 30px;
    padding-left: 20px;
}

.portfolio .about .progress>p {

    font-size: 13px;
    padding-left: 0;
}

.portfolio img {
    width: 60%;
}

.portfolio .html+.about .progress i.active {

    color: #f0652a;

}

.portfolio .js+.about .progress i.active {

    color: #f0db4f;

}

.portfolio .css+.about .progress i.active {

    color: #33a9dc;

}

.portfolio .php+.about .progress i.active {

    color: #36447f;

}

.portfolio .git+.about .progress i.active {

    color: #9cdaf0;

}

.portfolio .sass+.about .progress i.active {

    color: #cc6699;


}

.portfolio .jquery+.about .progress i.active {

    color: #0769ad;

}

.portfolio .python+.about .progress i.active {

    color: #ffca1d;

}


.portfolio .project {
    transition: 0.3s ease-in;
    position: relative;
    max-width: 1400px;
    margin: 0 auto 0;

}

@media (min-width:480px) and (orientation:landscape) {
    .portfolio {
        padding: 30px 0 100px;
    }

    .portfolio h1 {
        font-size: 35px;
    }

    .portfolio .about h2 {
        font-size: 30px;


        text-indent: 40px;
    }

    .portfolio .about p {
        padding-top: 5px;
        font-size: 13px;
        padding-left: 48px;
    }

    .portfolio .about .progress {
        text-align: center;
        font-size: 40px;

    }

    .portfolio .about .progress>p {

        font-size: 12px;
        padding-left: 0;
    }

    .portfolio .project .web {
        text-align: center;
    }

    .portfolio .project .web img {
        width: 30%;
    }
}

@media (min-width:600px) {
    .portfolio {
        padding: 30px 0 100px;
    }

    .portfolio h1 {
        font-size: 40px;
    }

    .portfolio .about {
        padding: 10px 20px 20px 0;
    }


    .portfolio .about h2 {
        font-size: 30px;


        text-indent: 40px;
    }

    .portfolio .about p {
        padding-top: 5px;
        font-size: 13px;
        padding-left: 48px;
    }

    .portfolio .about .progress {
        text-align: center;
        font-size: 40px;

    }

    .portfolio .about .progress>p {

        font-size: 12px;
        padding-left: 0;
    }

    .portfolio .project .web img {
        width: 30%;
    }

    .portfolio .project {
        margin-bottom: 40px;
        text-align: center;
    }
}


@media (min-width:768px) {
    .portfolio h1 {
        font-size: 70px;
    }

    .portfolio .about {
        padding-top: 0;
    }

    .portfolio .about h2 {
        font-size: 48px;


        text-indent: 40px;
    }

    .portfolio .about p {
        padding-top: 40px;
        font-size: 30px;
        padding-left: 48px;
    }

    .portfolio .about .progress {
        text-align: center;
        font-size: 50px;

    }

    .portfolio .about .progress>p {

        font-size: 30px;
        padding-left: 0;
    }

    .portfolio .project {
        margin-bottom: 40px;
        text-align: center;
    }


    .portfolio .project .web img {
        width: 50%;
    }

}

@media(orientation:landscape) and (min-width: 800px) {

    .web,
    .about {
        width: 50%;
        float: left;

    }

    .portfolio h1 {
        font-size: 45px;
    }

    .portfolio .about h2 {
        font-size: 28px;


        text-indent: 40px;
    }

    .portfolio .about p {
        padding-top: 5px;
        font-size: 13px;
        padding-left: 48px;
    }

    .portfolio .about .progress {
        text-align: center;
        font-size: 30px;

    }

    .portfolio .about .progress>p {

        font-size: 12px;
        padding-left: 0;
    }


    .portfolio .project:nth-of-type(even) .web {
        float: right;
    }

    .portfolio .project:nth-of-type(even) .about {
        padding-right: 0;
    }

    .portfolio .project:nth-of-type(even) .about p {
        padding-right: 20px;
    }

    .portfolio .project:nth-of-type(even) .progress {
        padding-right: 20px;
    }


    .portfolio .project:nth-of-type(even) .about h2 {
        text-indent: 0;
        margin-left: 40px;
    }

    .portfolio .project .web {
        text-align: center;
    }

    .portfolio .project .web img {
        display: block;
        width: 90%;

    }

}

@media (orientation: landscape) and (min-width: 1024px) {

    .project {
        padding-top: 100px;
    }

    .portfolio h1 {
        font-size: 55px;
    }

    .portfolio .about h2 {
        font-size: 33px;


        text-indent: 40px;
    }

    .portfolio .about p {
        padding-top: 40px;
        font-size: 23px;
        padding-left: 48px;
    }

    .portfolio .about .progress {
        text-align: center;
        font-size: 30px;

    }

    .portfolio .about .progress>p {

        font-size: 20px;
        padding-left: 0;
    }

    .portfolio .project {
        margin-bottom: 40px;
        text-align: center;
    }

    .portfolio .project .web img {
        width: 100%;
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    .project {
        padding-top: 100px;
    }

    .portfolio h1 {
        font-size: 60px;
    }

    .portfolio .about h2 {
        font-size: 38px;


        text-indent: 20px;
    }

    .portfolio .about p {
        padding-top: 40px;
        font-size: 25px;
        padding-left: 48px;
    }

    .portfolio .about .progress {
        text-align: center;
        font-size: 40px;

    }

    .portfolio .about .progress>p {

        font-size: 22px;
        padding-left: 0;
    }

    .portfolio .project {
        margin-bottom: 40px;
        text-align: center;
        transition: 1s linear;
    }

    .portfolio .project .web img {
        width: 80%;
        margin: 40px auto 0;
    }
}



@media (orientation: landscape) and (min-width: 1440px) {
    .project:nth-of-type(even) {
        position: relative;
        left: -100%;
    }

    .project:nth-of-type(odd) {
        position: relative;
        left: 100%;
    }

    .portfolio h1 {
        font-size: 100px;
        padding: 30px 0;
    }

    .portfolio .about h2 {
        padding-top: 50px;
        font-size: 38px;
        text-indent: 40px;
        margin-bottom: 50px;
    }

    .portfolio .about p {
        font-size: 25px;
        padding-left: 40px;
        line-height: 180%;
    }

    .portfolio .about .progress>p {

        font-size: 34px;
        padding-left: 0;
    }

    .portfolio .progress {
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }

    .portfolio .project .web img {
        width: 100%;
        margin-top: 170px;
    }
}

/* moje motto */
.slogan {
    text-align: center;
    background-image: url(../img/motto.jpg);
    background-size: cover;
    background-position: top center;
    color: white;
    background-attachment: fixed;

}

.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.slogan .bg {
    background-color: rgba(0, 63, 114, 0.5);
    padding: 30px 10px;

}

.slogan p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;

}

.slogan .author {
    margin-top: 12px;
    font-size: 12px;
}





@media(orientation:landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width:768px) {
    .slogan {
        text-align: center;
        background-image: url(../img/motto.jpg);
        background-size: cover;
        background-position: top center;
        color: white;

    }

    .slogan h1 {

        font-size: 38px;

        margin-bottom: 35px;

    }



    .slogan p {

        font-size: 26px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

    }

    .slogan .author {
        margin-top: 40px;
        font-size: 18px;
    }

    .slogan .bg {

        padding: 50px 10px;

    }


}

@media (min-width:1024px) {
    .slogan {
        text-align: center;
        background-image: url(../img/motto.jpg);
        background-size: cover;
        background-position: top center;
        color: white;

    }

    .slogan h1 {

        font-size: 60px;

        margin-bottom: 55px;
    }

    .slogan p {

        font-size: 40px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .slogan .author {
        margin-top: 40px;
        font-size: 18px;
    }

    .slogan .bg {

        padding: 80px 10px;

    }

}

/* sekcja hobby */

.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item p {
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    /* line-height: 25vh; */
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 5px;

}

.hobby .item {
    height: 25vh;
}

.hobby h1 {
    padding: 20px;
    font-size: 36px;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;

}

.hobby .item {
    background-repeat: no-repeat;
    background-position: center;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../img/hobby1.jpg);

}

.hobby .item:nth-of-type(2) {
    background-image: url(../img/hobby2.jpg);

}

.hobby .item:nth-of-type(3) {
    background-image: url(../img/hobby3.jpg);

}

.hobby .item:nth-of-type(4) {
    background-image: url(../img/hobby4.jpg);

}

@media (min-width:533px) {


    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }


}

@media (min-width:768px) {
    .hobby h1 {
        font-size: 48px;
        margin-bottom: 35px;
        margin-top: 40px;

    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width:1024px) {
    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

@media (min-width:1600px) {
    .hobby h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;
    }

    .hobby .item p {
        font-size: 40px;
        padding: 15px 0;
    }
}

/* formularz */

.contact {
    background-color: rgb(56, 54, 54);
    padding: 30px 20px;
}

.contact h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;

}


.contact input,
.contact button,
.contact textarea {
    width: 100%;
    font-family: 'Saira', sans-serif;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 12px;
}

.contact input {

    height: 36px;

}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact textarea {
    height: 120px;
}

.contact button {
    font-size: 14px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


.contact .socials {
    padding-top: 10px;
}

.contact .social {
    padding: 10px 0;
    color: white;
    font-family: 'Saira Condensed', sans-serif;


}

.contact .social img {
    float: left;
}


.contact .social span {
    line-height: 72px;
    padding-left: 10px;

    font-size: 20px;
}

@media (min-width:533px) {
    .contact .social {
        display: inline-block;
        width: 49%;
    }

}

@media (min-width:1024px) {

    .contact h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .contact .wrap,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 10px 20px;
    }

    .contact input,
    .contact button,
    .contact textarea {

        margin-bottom: 35px;

    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .contact .social span {
        font-size: 17px;
    }

    .contact .social img {
        width: 30%;
    }

    .contact input {
        height: 46px;
        font-size: 24px;
    }

    .contact textarea {
        height: 180px;
        font-size: 24px;
    }

    .contact button {
        font-size: 20px;
        line-height: 50px;
        transition: .5s;
    }

    .contact button:hover {
        border-color: #4A00E0;
        background-color: #4A00E0;
    }




}

@media (min-width:1280px) {
    .contact .social span {
        font-size: 20px;
    }

    .contact .social img {
        width: 30%;
    }

}

@media (min-width:1440px) {
    .contact .social span {
        font-size: 30px;
    }

    .contact .social img {
        width: 30%;
    }

}